body{
    background-color: #13141b;
    color: #ffffff;
    background-image: url(images/bg-image.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
}

.form-control{
    background-color:rgba(255, 255, 255, 0.2);
    padding: 22px;
    border: none;
    border-radius: 25px;
}
.btn{
    border-radius: 1.5rem;
    padding: 9px 20px;
}

.btn-privious{
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
}
.navbar-toggler {
    border: none;
}
.search-box{
    position: relative;
}
.search-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
.single-result{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    display: none;
    text-align: center;
}
#lyrics{
    text-align: center;
}
pre{
    color: #e9ecef;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;

}

.song-list{
    text-align: center;
    margin-bottom: 20px;
    width: 500px;
    justify-content: space-evenly;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 18px;
    text-decoration: overline;
    text-decoration-color: rgb(12, 147, 100);
    position: relative;
}
#song-list-li{
    text-align: center;
    margin-bottom: 20px;
    width: 500px;
    justify-content: space-evenly;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 18px;
    text-decoration: overline;
    text-decoration-color: rgb(12, 147, 100);
    position: relative;
    margin-bottom: 15px;
        max-width: 300px;
        letter-spacing: 0.5px;
        font-size: 17px;
}
#song-list-li::after{
    content: "";
    position: absolute;
    right: -20px;
    left: -20px;
    bottom: -4px;
    height: 3px;
    background: rgb(12, 147, 100);
    display: inline-block;
}
.song-list div{
   float: left;
    text-align: center;
}
#btn{
    background-color: rgb(26, 170, 115);
    margin: 0 auto;
    border: 0;
    font-size: 14px;
    border-radius: 10px;
    color: rgb(199, 193, 193);
    cursor: pointer;
    font-weight: 400;
    padding: 6px 20px;
    width: 100px;
    text-transform: capitalize;
}